body {
    background-color: white;
}

div {
    background-color: #f3f3f6;
}

#slime-bank-calculator {
    text-align: center;
}

.tablehead {
    font-weight: bold;
    border-bottom: 1px solid black;
    font-size: large;
    color: #000000;
}

form {
    margin: 0;
}

table {
    color: #586e75;
    font-family: monospace; 
}

tr {
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 5 5 2 5;
    /* padding-right: 0;
    padding-left: 0; */
    border-spacing: 0;
    border-color: black;
    border-width: 0px;
    border-style: solid;
}