body {
    background-color: whitesmoke;
}

div {
    background-color: silver;
}


.tablehead {
    font-weight: bold;
    border-bottom: 1px solid black;
}

form {
    margin: 0;
}

table {
    color: #222222;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 5 5 2 5;
    /* padding-right: 0;
    padding-left: 0; */
    border-spacing: 0;
    border-color: black;
    border-width: 0px;
    border-style: solid;
}