.research {
    margin: 0px 0 0 0;
    padding: 0px 0px 0px 0px;
    float: right;
    display: inline; 
    /* background-image: linear-gradient(#383a3b, #2a2d2f); */
    /* border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #858585;  */

} 