.btn {
    font-family: 'Noto Sans JP';
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color:aliceblue;
    padding: 5px;
    border-style: solid;
    border-style: outset;
    border-width: 3px;
    filter: blur(0.3px);
    -webkit-filter: blur(0.3px);
    margin-left: 2px; 
    padding: 2px 15px 5px 15px;
}

.btn:hover { 
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.1);  
}

.button-grey {
    background-image: linear-gradient(#656565, #4a4a4a);
    background-color: #1a2c4d;
    border-top-color: #939393;
    border-bottom-color: #3f3f3f;
    border-left-color:  #474747;
    border-right-color: #4e4e4e;
}

.button-orange {
    font-family: 'Noto Sans JP';
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color:aliceblue;
    padding: 5px;
    border-style: solid;
    background-image: linear-gradient(#b45514, #884110);
    margin-left: 2px; 
    padding: 2px 15px 5px 15px;
    background-color: #1a2c4d;
    border-style: outset;
    border-width: 3px;
    border-top-color: #dc8540;
    border-bottom-color: #693816;
    border-left-color:  #873e0c;
    border-right-color: #98460f;
    filter: blur(0.3px);
    -webkit-filter: blur(0.3px);
}

.btn-blue {
    background-image: linear-gradient(#2b487f, #203860);
    background-color: #2b487f;
    border-top-color: #5476ae;
    border-bottom-color: #202f4e;
    border-left-color:  #1b3763;
    border-right-color: #223e6a; 
}
